{% extends 'base_layout.html' %}

{% block title %}
<title>Adoção: {{ animal.nome }}</title>
{% endblock %}

{% block content %}
<h2>Registar Adoção de {{ animal.nome }}</h2>
<p>Para nos certificarmos que o animal combina bem consigo, é marcado um encontro com ele antes de finalizar o processo de adoção.</p>
<p>Por favor, indique quando quer realizar esse encontro.</p>
{{ success_message }}
<form class="adocao-form" action="" method="post">
    {% csrf_token %}
    Telefone: <input type="tel" name="telefone" minlength="9" maxlength="9" pattern="[0-9]{9}"><br>
    Data: <input type="date" name="data"><br>
    Hora: <input type="time" name="hora"><br>
    <input type="submit" value="Registar">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</form>
{% endblock %}
